<form [formGroup]="form">
  <mat-grid-list cols="2" rowHeight="89" gutterSize="8">
    <mat-grid-tile>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>{{ title }} Latitude</mat-label>
        <img matPrefix [src]="icon" height="24" width="24">
        <input matInput formControlName="lat" type="number" step="0.001" [min]="minLatitude" [max]="maxLatitude">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>{{ title }} Longitude</mat-label>
        <img matPrefix [src]="icon" height="24" width="24">
        <input matInput formControlName="lng" type="number" step="0.001" [min]="minLongitude" [max]="maxLongitude">
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</form>
