<app-route-point-form
  [routePoint]="(route | async).origin"
  title="Origin"
  [icon]="environment.data.input.route.icon.origin"
  [step]="environment.data.input.route.step"
  (routePointChange)="onRoutePointChange('origin', $event)"
  (statusChange)="onStatusChange('origin', $event)">
</app-route-point-form>

<app-route-point-form
  [routePoint]="(route | async).destination"
  title="Destination"
  [icon]="environment.data.input.route.icon.destination"
  [step]="environment.data.input.route.step"
  (routePointChange)="onRoutePointChange('destination', $event)"
  (statusChange)="onStatusChange('destination', $event)">
</app-route-point-form>

<app-information-form
  [information]="information | async"
  [minDepartureTime]="minDepartureTime"
  [minPassengerVolume]="environment.data.input.passengerVolume.min"
  [maxPassengerVolume]="environment.data.input.passengerVolume.max"
  (informationChange)="onInformationChange($event)"
  (statusChange)="onStatusChange('information', $event)">
</app-information-form>

<app-weather-input-form
  [weatherInput]="(weather | async).temperature"
  title="Temperature"
  [units]="temperatureUnits"
  (weatherInputChange)="onWeatherInputChange('temperature', $event)"
  (statusChange)="onStatusChange('temperature', $event)">
</app-weather-input-form>

<app-weather-input-form
  [weatherInput]="(weather | async).precipitation"
  title="Precipitation"
  [units]="precipitationUnits"
  (weatherInputChange)="onWeatherInputChange('precipitation', $event)"
  (statusChange)="onStatusChange('precipitation', $event)">
</app-weather-input-form>

<app-weather-input-form
  [weatherInput]="(weather | async).visibility"
  title="Visibility"
  [units]="visibilityUnits"
  (weatherInputChange)="onWeatherInputChange('visibility', $event)"
  (statusChange)="onStatusChange('visibility', $event)">
</app-weather-input-form>

<button
  mat-fab
  [color]="environment.data.submit.color"
  [disabled]="!valid"
  (click)="onSubmit()">
  GO!
</button>
