<app-route-point-form
  appConfiguredForm
  [formId]="originFormId"
  [value]="(route | async)[originFormId]"
  [title]="originFormId | titlecase"
  (valueChange)="onRoutePointChange(originFormId, $event)"
  (statusChange)="onStatusChange(originFormId, $event)">
</app-route-point-form>

<app-route-point-form
  appConfiguredForm
  [formId]="destinationFormId"
  [value]="(route | async)[destinationFormId]"
  [title]="destinationFormId | titlecase"
  (valueChange)="onRoutePointChange(destinationFormId, $event)"
  (statusChange)="onStatusChange(destinationFormId, $event)">
</app-route-point-form>

<app-information-form
  appConfiguredForm
  [formId]="informationFormId"
  [value]="information | async"
  [minDepartureTime]="minDepartureTime"
  (valueChange)="onInformationChange($event)"
  (statusChange)="onStatusChange(informationFormId, $event)">
</app-information-form>

<app-weather-input-form
  appConfiguredForm
  [formId]="temperatureFormId"
  [value]="(weather | async)[temperatureFormId]"
  [title]="temperatureFormId | titlecase"
  [units]="temperatureUnits"
  (valueChange)="onWeatherInputChange(temperatureFormId, $event)"
  (statusChange)="onStatusChange(temperatureFormId, $event)">
</app-weather-input-form>

<app-weather-input-form
  appConfiguredForm
  [formId]="precipitationFormId"
  [value]="(weather | async)[precipitationFormId]"
  [title]="precipitationFormId | titlecase"
  [units]="precipitationUnits"
  (valueChange)="onWeatherInputChange(precipitationFormId, $event)"
  (statusChange)="onStatusChange(precipitationFormId, $event)">
</app-weather-input-form>

<app-weather-input-form
  appConfiguredForm
  [formId]="visibilityFormId"
  [value]="(weather | async)[visibilityFormId]"
  [title]="visibilityFormId | titlecase"
  [units]="visibilityUnits"
  (valueChange)="onWeatherInputChange(visibilityFormId, $event)"
  (statusChange)="onStatusChange(visibilityFormId, $event)">
</app-weather-input-form>

<button
  mat-fab
  [color]="environment.data.submit.color"
  [disabled]="!valid"
  (click)="onSubmit()">
  GO!
</button>
