<agm-map
  [latitude]="(center | async).lat"
  [longitude]="(center | async).lng"
  [zoom]="zoom | async"
  [streetViewControl]="false"
  (centerChange)="onCenterChange($event)"
  (zoomChange)="onZoomChange($event)"
  (idle)="onIdle()">

  <agm-direction
    [origin]="origin | async"
    [destination]="destination | async"
    [drivingOptions]="{departureTime: departureTime | async}"
    [markerOptions]="directionMarkerOptions"
    [renderOptions]="directionRendererOptions">
  </agm-direction>
</agm-map>
