<form [formGroup]="form">
  <mat-grid-list appFormGrid cols="1">
    <mat-grid-tile>
      <mat-form-field appFormField>
        <mat-label>Departure Time</mat-label>
        <input matInput formControlName="departureTime" [min]="minDepartureTime" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appFormField>
        <mat-label>Passenger Volume</mat-label>
        <mat-select formControlName="passengerVolume">
          <mat-option *ngFor="let passengerVolumeValue of passengerVolumeValues" [value]="passengerVolumeValue">
            {{ passengerVolumeValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</form>
