<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    class="mat-elevation-z6"
    mode="side"
    [opened]="sidenavOpened"
    [ngStyle]="{width: sidenavWidth}">
    <app-sidenav-toggle-button
      *ngIf="sidenavInnerToggleButton"
      [sidenavOpened]="sidenav.opened"
      [sidenavPosition]="sidenav.position"
      tooltipPosition="right"
      (click)="onToggleSidenav()">
    </app-sidenav-toggle-button>
    <ng-content select="[aside]"></ng-content>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-sidenav-toggle-button
      [sidenavOpened]="sidenav.opened"
      [sidenavPosition]="sidenav.position"
      tooltipPosition="right"
      (click)="onToggleSidenav()">
    </app-sidenav-toggle-button>
    <ng-content select="[main]"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
