<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    class="mat-elevation-z6"
    mode="side"
    [opened]="sidenavOpened"
    [ngStyle]="{width: sidenavWidth}">
    <ng-content select="[aside]"></ng-content>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-sidenav-toggle-button
      [sidenav]="sidenav"
      tooltipPosition="right"
      (click)="sidenavOpenedChange.emit(!sidenav.opened)">
    </app-sidenav-toggle-button>
    <ng-content select="[main]"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
